<div class="container">
  <div class="row">
    <div class="col-12 text-center">
      <h1 class="about my-5"><strong>About</strong></h1>
      <div>
        <p class="h4">
          myrouteは喫茶店のレビューサイトです。<br>
          行きつけのお店を自慢しあい、        <br>
          共有し合うことで、                  <br>
          新たな憩いの場を見つけましょう。    <br>
        </p>
      </div>
      <div class="about-visual"><%= image_tag 'img/karl-chor-UvWlksgZGPE-unsplash.jpg', size: "600x400" %></div>
    </div>
  </div>
</div>