<% if logged_in? %>
<% else %>
  <%= link_to "Sign up | ", new_user_path %>
  <%= link_to "Login", login_path %>
<% end %>

<div class="main-visual">
 <p class="main-visual-name">
  Can you tell me your favorite<br>
  coffee shop?
 </p>

 <p class="main-visual-text">
  simply image posting site
 </p>
</div>